td.gametab-h { width: 15%; padding: 2px; white-space: nowrap; text-align: center; }
.color-a { color: #b20000; }
.bgcolor-a { background-color: #ffcfcf; }
.color-e { color: #00007c; }
.bgcolor-e { background-color: #cfcff0; }
.color-f { color: #007cb2; }
.bgcolor-f { background-color: #cff0ff; }
.color-g { color: #000000; }
.bgcolor-g { background-color: #cfcfcf; }
.color-i { color: #007c00; }
.bgcolor-i { background-color: #cff0cf; }
.color-r { color: #7c7c7c; }
.bgcolor-r { background-color: #f0f0f0; }
.color-t { color: #b2b200; }
.bgcolor-t { background-color: #ffffcf; }
